@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
--text: #02050a;
--background: #fafcfe;
--primary: #2f71d1;
--secondary: #ab84e4;
--accent: #af5edb;
}

body{
    background: var(--background);
    font-family: 'Roboto';
}

.navbar{
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    list-style: none;
    position: sticky;
    top: 0;
    box-shadow: 12px;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links{
    padding: 10px 20px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 500;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

.hero h1{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 300px;
    margin-bottom: 20px; */
    flex-direction: column;
}

.hero span{
    color: var(--accent);
}

.btn{
    height: 60px;
    width: 250px;
    text-align: center;
    font-weight: bolder;
    background-color: var(--accent);
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.btn:hover{
    background: var(--primary);
    cursor: pointer;
}

.btn a{
    text-decoration: none;
    color: var(--text);
}



.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    font-size: x-large;
}

.how{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin: 0 auto;
    max-width: 800px;
    font-size: x-large;
    margin-top: 200px;
    column-gap: 30px;
}

.how .list{
    column-gap: 60px;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 200px;
    font-size: x-large;
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}